body {
    font-family: sans-serif;

}

label {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.877);
}



.logo-title {
    font-family: "Satisfy",cursive;
    font-size: 50px;
    font-weight: 600px;
    color: #000000;
    text-decoration: none;
    margin: 40px 10px 10px 720px;
    
} 

.middleText {
    font-family: "Marck Script",cursive;
    margin: 0px 0px 0px 710px;
    
}

.button {
    background-color: #ecb910;
    color: rgb(2, 2, 2);
    padding: 10px 10px 10px 10px;
    margin: 15px;
    border: none;
    cursor: pointer;
    opacity: 1;
    font-family: sans-serif;
    font-weight: bold;
}
button:hover {
    opacity: 2;
}

.topButtons {
    width: 90px;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 90%;
    background: #ffa805d5;
    color: rgb(0, 0, 0);
    float: left;
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(255, 115, 0, 0.404);
    border: 5px 5px 5px 5px;

    margin-right: 2px;
    margin-left: 40px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.topButtons:hover {
    background-color:rgba(48, 52, 53, 0.705);
}

.flexButtons {
    display: flex;
    float: right;
    box-shadow: gray;
    width: 50%;
    margin-top: 5%;
} 

.bars {
    
    font-size: 27px;
    margin-top: 80%;
    color: black;
    margin-left: 970px;
    float: left;
    
}

/* styles for modals, forms etc */
h1 {
    text-align:center;
    font-family: 'Abel', sans-serif;
}


.Modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 75px;
    left: 1px;
    top: 1px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(255, 166, 0, 0.363);
}

.Modal-Content {
    background-color: rgba(0, 0, 0, 0.842);
    margin: auto;
    padding: 30px;
    border: 1px solid rgb(0, 0, 0);
    width: 22%;
} 

.close {
    color: gray;
    float: right;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: rgb(255, 196, 0);
}
.close:focus {
    color:rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;

}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}

input{
    padding: 15px;
    font-size: 13px;
    border-radius: 4px;
    margin-bottom: 15px;
    background-color: rgb(218, 213, 213);
    color: rgb(0, 0, 0);
    border: rgb(0, 0, 0);
}

label {
    margin: 0 0 10px;
}

.submit-butt {
    background-color: #ffd900;
    color: hsl(0, 0%, 0%);
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 10px;
    padding: 15px;
    border-radius: 5px;
    border-color: #fffb00;
    margin-bottom: 10px;
    cursor: pointer;
    margin-left: 0;
}

.heading {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(255, 196, 2);
}
 hr {
     width: 100%;
     color: #000000;
     text-align: center;
     margin-top: 10px;
     margin-bottom: 30px;
 }

.login {
    display: inline-block;
    margin-top: 0;
    color: rgb(224, 222, 206);
}

.SignUp{
    font-size: 15px;
    font-family: sans-serif, cursive;
    font-weight: bold;
    color: rgb(252, 193, 0);
    text-decoration: none;
}



.login-form{
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    
}
